// * :not(.content){
//     all: initial;
// }
.container {
    max-width: 100%  //This will make container to take screen width
  }
input {
    float: initial !important;
}

.content *{
    :hover {
        background-color: yellow;
      }
   
  }
  
  